@media only screen and (max-width: 390px) {

    header {
        width: 100vw;
    }
    body {
        position: relative;
        width: 100%;
    }

    .container {
        height: 8vh;
        width: 100vw; 
    }

    .logo-text{
        font-size: 0.85rem;
    }

    .logo-img{
        height: 50px;
        width: 50px;
    }

    .links-container a{
        font-size: 0.75rem;
    }
    #nav-links {
        padding: 0 6px;
        text-decoration: none;
        font-size: 0.75rem;
    }

    .heading-text{
        text-wrap: balance;
        font-weight: 500;
        font-size: 1rem;
        margin: 0px;
        padding: 0px;
    }

    .heading-container{
        padding: 10px;
        margin: 0;
        padding: 0;
    }

    .bg-img {
        width: 100%;
        max-height: 550px;
    }

    .slider-menu { 
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 55vh;
        background: rgb(228, 220, 220);
    } 
    
    .wrapper { 
        max-width: 1100px; 
        width: 80%; 
        position: relative; 
    
    } 
    

    .carousel .card {
        height: 300px;
    }
    
} 